* {
    margin: 0;
}

:root {
    --fundamental-font-size: 24px;
    --model-font-size: 32px;
    --smaller-font-size: 14px;
}

/* General */
.Link {
    font-size: 30px;
    border: 2px solid;
    border-radius: 5px;
    margin: 8px;
    padding: 8px;
    text-align: center;
}

.Link a {
    text-decoration: none;
}

/* Home */

#Area_Home_Title {
    height: 100vh;
}

.Home_Title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 50px;
}

.Home_Subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 30px;
}

/* Trainer */
.StandardButton {
    display: inline-block;
    border: 2px solid;
    border-radius: 4px;
    margin: 2px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

#MODEL * {
    transition: all;
    transition-duration: 300ms;
}

.TypingArea {
    overflow-wrap: break-word;
    white-space: wrap;
}

.CorrectionUnit {
    -webkit-user-select: none;
    user-select: none;
    font-family: Consolas, Courier, monospace;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: var(--model-font-size);
}

#TYPING {
    width: 100%;
    min-height: 17vh;
    max-height: 20vh;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    gap: 0;
}

@media(max-width:768px) {
    #TYPING {
        grid-template-columns: 50% 50%;
        font-size: var(--smaller-font-size);
    }
}

#TypingPanel {
    border: 2px solid;
}

textarea {
    width: 100%;
    height: 100%;
    font-family: Consolas, Courier, monospace;
    font-size: var(--smaller-font-size);
}

/* Window */

.ArticleOption {
    font-size: auto;
    border: 3px solid #000000;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
}