:root {
    --bg-1: #ffffff;
    --bg-2: #dbdbdb;
    --bg-3: #f9f9f9;
    --color-1: #000000;
}

.Error {
    background-color: #ffd5cb;
    color: red;
    text-shadow: 0 0 3px #ff9a0c;
}

.Correct {
    background-color: #beffc8;
    color: green;
    text-shadow: 0 0 3px #0aac22;
}

.Pending {
    color: #9a9a9a;
}

.StandardButton{
    box-shadow: 1px 1px 3px gray;
}

#TypingPanel{
    background-color: var(--bg-1);
}

.ArticleOption:hover {
    font-weight: 900;
    background-color: var(--color-1);
    box-shadow: 2px 2px 5px #b7b7b7;
    color: var(--bg-1);
}